Following are computer club rules:

1. Respect each other's skill sets and always possess the mindset to help each other

2. If can't make to the club meeting, give a short notice to the secretary. 

3. Keep track of your project progress. 

4. Every member should be working on a project.

5. Unless the member is doing unity game development for VR, Oculus Rift can only be used once in two month for regular members.



