Following are computer club rules:

1. Don't be cocky
(Respect each other's skill sets and always possess the mindset to help each other)

2. If can't make to the club meeting, give a short notice to the secretary. 

3. Keep track of your project progress 

